parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport: smtp
    mailer_host: smtp.yandex.ru
    mailer_user: sandello.alkr@ya.ru
    mailer_password: sandello1991
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_port: 465

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    address: 'Брест, Советская, 67'
    baloon: 'Офис'
    baloon_text: 'Офис в центре города'
