parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: space-pencil
    database_user: root
    database_password: dff302dff302

    mailer_transport: smtp
    mailer_host: smtp.yandex.ru
    mailer_user: info@space-pencil.ru
    mailer_password: EiR7aH2o
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_port: 465

    top_menu_parent: 5

    locale: ru
    secret: space-pencilsecrettoken
